{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <h1>{% block title %} Transactions {% endblock %}</h1>
    <table width="100%" class="table table-bordered">
        <thead class="table-light"><tr>
            <th class="col-2">Date</th>
            <th class="col-4">Trades</th>
            <th class="col-1">Action</th>
            <th class="col-1 text-end">Quantity</th>
            <th class="col-2 text-end">Trade Price</th>
            <th class="col-2 text-end">Amount</th>
        </tr></thead>
        <tbody>
    {% if rows.empty: %}
        <tr align="center"><td colspan="5">
            --- Empty ---
        </td></tr>
    {% else %}
        {% for row in rows %} 
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ market.getFullname(row[1]) }}</td>
                <td>{{ row[2] }}</td>
                <td align="right">{{ row[3] }}</td>
                <td align="right">{{ '${:,.2f}'.format(row[4]) }}</td>
                <td align="right">{{ '{:+,.2f}'.format(row[5]) }}</td>
            </tr>
        {% endfor %} 
    {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}


