A {
	TEXT-DECORATION: none
}
.bluetop {
	FONT-SIZE: 0px; BACKGROUND: #8dd8f5; WIDTH: 100%; HEIGHT: 5px
}
.wrapper {
	MARGIN: 0px auto; WIDTH: 843px; HEIGHT: 250px
}
.header {
	WIDTH: 100%; POSITION: relative; HEIGHT: 108px
}
.headertab {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/header_tab_bg.jpg) no-repeat; FLOAT: left; WIDTH: 163px; COLOR: #ffffff; MARGIN-LEFT: 25px; PADDING-TOP: 6px; HEIGHT: 26px; TEXT-ALIGN: center
}
.headertab A {
	PADDING-LEFT: 3px; PADDING-LEFT: 3px; COLOR: #ffffff
}
.logo {
	MARGIN-TOP: 5px; FLOAT: right; MARGIN-RIGHT: 20px
}
.content {
	BACKGROUND: url(../images/content_bg.jpg) repeat-x 50% top; FLOAT: left; WIDTH: 100%; HEIGHT: 500px
}
.content_table {
	MARGIN-TOP: 6px; MARGIN-LEFT: 10px; WIDTH: 810px; BORDER-COLLAPSE: collapse
}
.content_products_table {
	MARGIN-TOP: 15px; MARGIN-LEFT: 7px; BORDER-COLLAPSE: collapse
}
TD.home_img {
	BACKGROUND: url(../images/home_img.jpg) no-repeat; WIDTH: 534px; HEIGHT: 296px
}
TD.home_box {
	BACKGROUND: url(../images/home_box.jpg) no-repeat; VERTICAL-ALIGN: top; WIDTH: 268px; HEIGHT: 296px
}
TD.home_box H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 15px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: "Arial Narrow",Arial
}
.home_box_list {
	MARGIN-TOP: 20px; FONT-SIZE: 12px; MARGIN-LEFT: 20px; LINE-HEIGHT: 16px; MARGIN-RIGHT: 30px
}
.home_box_list P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px
}
SPAN.green {
	COLOR: #aec94f
}
TD.width_spacer {
	FONT-SIZE: 0px; WIDTH: 2px
}
TD.height_spacer {
	FONT-SIZE: 0px; HEIGHT: 5px
}
.footer {
	MARGIN-TOP: 15px; FONT-SIZE: 11px; COLOR: #44bcef; TEXT-ALIGN: center
}
TD.function_sidebar_top {
	FONT-SIZE: 0px; BACKGROUND: url(../images/function_sidebar_top.jpg) no-repeat left top; VERTICAL-ALIGN: top; WIDTH: 223px; HEIGHT: 30px
}
TD.function_sidebar_bottom {
	FONT-SIZE: 0px; BACKGROUND: url(../images/function_sidebar_bottom.jpg) no-repeat left top; WIDTH: 223px
}
TD.function_sidebar_top H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px 15px; COLOR: #9dba38; PADDING-TOP: 0px; FONT-FAMILY: "Arial Narrow",Arial
}
TD.function_sidebar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../images/function_sidebar_bg.jpg) no-repeat left top; VERTICAL-ALIGN: top; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 270px
}
TD.function_sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 190px; PADDING-TOP: 0px
}
TD.function_sidebar UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e8e8 1px dashed; LIST-STYLE-TYPE: none
}
TD.function_sidebar UL LI A {
	COLOR: #0976a1
}
TD.function_sidebar UL LI A.active {
	FONT-WEIGHT: bold
}
TD.function_sidebar UL LI A:hover {
	FONT-WEIGHT: bold
}
TD.function_sidebar UL UL {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 20px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM: #e8e8e8 1px dashed; BORDER-RIGHT-WIDTH: 0px
}
TD.function_sidebar UL UL LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.function_sidebar UL UL LI A {
	COLOR: #14aaeb
}
TD.function_box_title {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/function_box_title.jpg) no-repeat left top; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 580px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; HEIGHT: 26px
}
TD.function_box_title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: "Arial Narrow",Arial
}
TD.products_box {
	PADDING-RIGHT: 40px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(../images/function_box_bg.jpg) no-repeat left top; VERTICAL-ALIGN: top; WIDTH: 550px; LINE-HEIGHT: 17px; HEIGHT: 250px
}
TD.products_bottom P {
	FONT-SIZE: 12px; WIDTH: 550px
}
TD.products_box A {
	COLOR: #0976a1
}
TD.products_box A:hover {
	FONT-WEIGHT: bold
}
TD.products_box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 530px; PADDING-TOP: 0px
}
TD.products_box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
TD.products_box UL LI A {
	COLOR: #0976a1
}
TD.products_box UL LI A.active {
	FONT-WEIGHT: bold
}
TD.products_box UL LI A:hover {
	FONT-WEIGHT: bold
}
TD.products_box UL UL {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 20px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM: #e8e8e8 1px dashed; BORDER-RIGHT-WIDTH: 0px
}
TD.products_box UL UL LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.products_box UL UL LI A {
	COLOR: #14aaeb
}
TD.function_box_bottom {
	BACKGROUND: url(../images/function_box_bottom.jpg) no-repeat left top; HEIGHT: 15px
}