.title {
color:#9F0F55;
font-family:"Verdana","sans-serif","Arial";
font-size:16px;
font-style:normal;
text-align:justify;
}
.content {
color:#666666;
font-family:"Verdana","sans-serif","Arial";
font-size:12px;
font-style:normal;
line-height:17px;
text-align:justify;
}
.content_11 {
color:#666666;
font-family:"Verdana","sans-serif","Arial";
font-size:12px;
font-style:normal;
line-height:17px;
}
.content10a {
color:#9F0F55;
font-family:"Verdana","sans-serif","Arial";
font-size:11px;
font-style:normal;
text-align:justify;
}
.content10 {
color:#666666;
font-family:"verdana";
font-size:11px;
font-style:normal;
line-height:16px;
text-align:justify;
}
.content12 {
color:#666666;
font-family:"verdana";
font-size:12px;
font-style:normal;
line-height:16px;
text-align:justify;
}
.content9a {
color:#9F0F55;
font-family:"Verdana","sans-serif","Arial";
font-size:10px;
font-style:normal;
}
.content9 {
color:#666666;
font-family:"Verdana","sans-serif","Arial";
font-size:10px;
font-style:normal;
}
.textbox {
color:#666666;
font-family:"Verdana","sans-serif","Arial";
font-size:11px;
}
#nav01 .content10 {
white-space:nowrap;
}
#nav02 .content10 {
white-space:nowrap;
}
#nav03 .content10 {
white-space:nowrap;
}
#nav04 .content10 {
white-space:nowrap;
}
#nav05 .content10 {
white-space:nowrap;
}
#nav06 .content10 {
white-space:nowrap;
}
#nav07 .content10 {
white-space:nowrap;
}
a:link {
color:#666666;
text-decoration:none;
}
a:visited {
color:#666666;
text-decoration:none;
}
a:hover {
color:#9F0F55;
text-decoration:none;
}
a:active {
text-decoration:none;
}
a.one:link {
color:#9F0F55;
text-decoration:none;
}
a.one:visited {
color:#9F0F55;
text-decoration:none;
}
a.one:hover {
color:#666666;
text-decoration:none;
}
a.one:active {
text-decoration:none;
}
