<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="linkLabel2.AutoSize" value="False" />
		<add key="linkLabel2.LinkVisited" value="False" />
		<add key="linkLabel2.Text" value="http://www.blackice.com" />
	</appSettings>
</configuration>